@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="mt-4 mb-4">Admin Area</h2>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Manage
            </div>
            <div class="list-group list-group-flush">
                <a is-active-route asp-controller="ManageProducts" asp-action="Index" class="list-group-item list-group-item-action">Products</a>
                <a is-active-route asp-controller="ManageCategories" asp-action="Index" class="list-group-item list-group-item-action">Categories</a>
                <a is-active-route asp-controller="ManageOrders" asp-action="Index" class="list-group-item list-group-item-action">Orders</a>
                <a is-active-route asp-controller="ManageUsers" asp-action="Index" class="list-group-item list-group-item-action">Users</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
    </div>
    <div class="col">
        @RenderBody()
    </div>
</div>

